<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="InputDirectory">examples</entry>
<entry key="StoragePath">storage</entry>
<entry key="NumberSimilar">5</entry>
<entry key="InputFileEncoding">Cp1251</entry>
</properties>
